{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-services-list{{ end }}
{{ define "header_classes" }}{{ end }}

{{ define "main" }}

{{ partial "hero-image-setheight.html" (dict "background" .Params.heroBackground "heading" .Params.heroHeading "subheading" .Params.heroSubHeading "content" .)}}
{{ if .Content }}
<div class="container pt-6 pt-md-10">
  <div class="row">
    <div class="col-12">
      <div class="page-intro">
        {{ .Content }}
      </div>
    </div>
  </div>
</div>
{{ end }}

<!-- @todo fixen: Auf dem einigen mobile devices nicht zusehen-->
{{ if .Params.current}}
<div class="container main-menu">
  <ul >
  {{ range .Params.current}}
    <li class="menu-item">
    <a href="{{.}}">
      <span>{{ . }}</span>
    </a>
  </li>  
  {{ end }}
  </ul>
</div>
{{ end }}

<div class="container pb-6 pt-6 pb-md-10 pt-md-10">
  <div class="row">
    {{ range (.RegularPages.ByParam "termin") }}
      <div class="col-12 col-md-6 mb-2 ">{{ .Render "summary" }}</div>
    {{ end }}
  </div>
</div>
{{ end }}