<div class="service service-summary">
  <div class="service-image">
    {{ $myYear := substr .Params.Termin 0 4}}
    {{ $thisYear := now.Format "2006" }}
    {{- if lt $myYear $thisYear}}
      <time class="icon off">
    {{ else }}
      <time class="icon">
    {{- end}}
      <em>{{.Params.wochentag}}</em>
      <strong>{{.Params.monat}}</strong>
      <span>{{.Params.tag}}</span>
    </time>
  </div>

  <div class="service-content">
    <h2 class="service-title">
      <a href="{{ .Permalink }}">{{ .Title }}</a>
    </h2>
    {{ .Content | truncate 120 "..." }}
  </div>
</div>