<div class="service service-summary">
  <div class="service-image">
    {{ $termin := time.AsTime .Params.termin }}
    {{ $myYear := $termin.Format "2006" }}
    {{ $thisYear := now.Format "2006" }}
    {{- if lt $myYear $thisYear}}
      <time class="icon off">
    {{ else }}
      <time class="icon">
    {{- end}}
      <em>{{ $termin | time.Format "Monday" }}</em>
      <strong>{{ $termin | time.Format "January" }}</strong>
      <span>{{ $termin | time.Format "2" }}</span>
    </time>
  </div>

  <div class="service-content">
    <h2 class="service-title">
      <a href="{{ .Permalink }}">{{ .Title }}</a>
    </h2>
    {{ .Content | truncate 120 "..." }}
  </div>
</div>